body, html {
  margin: 0;
  padding: 0;
  background: #181818;
  min-height: 100vh;
  width: 100vw;
  font-family: 'Segoe UI', 'Roboto', Arial, sans-serif;
  color: #fff;
  box-sizing: border-box;
}

app-root {
  display: block;
  width: 100vw;
  min-height: 100vh;
  background: #181818;
}
